.SignupForm {
  width: 100vw;
  padding: 3%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Signup {
  padding-left: 9%;
  font-weight: 1000;
  font-size: 250%;
}

.input-container{
  display: flex;
  margin: 15px;
}

#input-label{
  position: relative;
  top: 6px;
  left: 22px;
}

#input{
  border-top:0;
  border-left:0;
  border-right:0;
  outline:0;
  width: 200%;
  padding-left: 15%;
}

#input:focus{
  outline:none!important;
}


#input[type="text"]::placeholder {  
                  
  /* Firefox, Chrome, Opera */ 
  padding-left: 0px; 
  font-weight: normal;
} 

#singupBtn{
  background-color: rgb(21,114,253);
  font-size: 130%;
  color: whitesmoke;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 9% ;
}